
body{
    background-image: linear-gradient(50deg, #4568DC 0%,  #b06ab3 74%);
}
.modal{
    background-image: linear-gradient(50deg, #4568DC 0%,  #b06ab3 74%);
    background-color: #4568DC;
}
#modalSignin{
    background-color: #4568DC;
}
.p-3 bg-dark text-white{
    background-color: aliceblue;
}

#xyz{
    background-color: red;
}
